/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2017, 9:17:50 PM
    Author     : swabomba
*/

.files-default-index {
    margin: 0 -15px -15px -15px; /* padding for .wrap > .container  in web/css/site.css*/
    padding: 0;
    min-width: 20px;
    height: 100%;
}

.files-left-pn {
    width: 17.5%;
    height: 100%;
    overflow: hidden;
    float: left;
}

.files-left-pn-pn {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 3px solid #000;
}

.files-left-pn-pn-new {
    width: 100%;
    height: 7.5%;
}

.files-left-pn-pn-lvls {
    width: 100%;
    height: 85%;
    overflow-x: hidden;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.files-left-pn-pn-srch {
    width: 100%;
    height: 7.5%;
    overflow-x: hidden;
    padding-top: 10px;
}

.files-ctnt {
    width: 65%;
    height: 100%;
    overflow: hidden;
    float: left;
}

.files-ctnt-pn {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.files-ctnt-pn-lst {
    width: 22.5%;
    height: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.files-ctnt-pn-lst-hd {
    width: 100%;
    height: 2.75%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    overflow: hidden;
}

.files-ctnt-pn-lst-bdy {
    width: 100%;
    height: 97.25%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
}

.files-ctnt-pn-lst-bdy > div {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.lst-slctd {
    background-color: #f8bb86;
    color: #fff;
    border-radius: 6px;
    padding-left: 5px;
}

.files-ctnt-pn-tl {
    width: 77.5%;
    height: 100%;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
    border-left: 1px solid #000;
}

.fl-hd {
    width: 12.5%;
    height: 25%;
    float: left;
    padding: 3px;
    border-radius: 10px;
    overflow: hidden
}

.fl-hd-pn {
    width: 100%;
    height: 75%;
    cursor: pointer;
    overflow: hidden
}

.fl-slctd {
    border: 1px solid #bbb;
    border-radius: 6px;
}

.fl-hd-pn:hover, .vrsn-hd-pn:hover {
    border: 1px solid #ddd;
    border-radius: 6px;
}

.fl-hd-pn-img {
    width: 100%;
    height: 85%;
    border-radius: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.fl-hd-pn-nm {
    width: 100%;
    height: 15%;
    text-align: center
}

.files-right-pn {
    width: 17.5%;
    height: 100%;
    overflow: hidden;
    float: right;
}

.files-right-pn-pn {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    border-left: 3px solid #000;
}

.files-prpt-pn-sub {
    width: 100%;
    overflow: hidden;
}

.files-right-pn-pn-sub-1, .files-right-pn-pn-sub-2, .files-right-pn-pn-sub-3 {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    overflow-x: hidden;
}

.files-default-index .form-group {
    margin-bottom: 0;
}

.files-default-index .form-group input {
    box-shadow: none;
}

.fl-prmsn-tr {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb
}

.fl-prmsn-eff {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 100%
}